<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>{{ title }}</h1>

<input type="text" [(ngModel)]="title">

<input type="button" value="click" (click)="agregarElemento(title)">

<div *ngIf="title == 'isc' then ifBlock else elseBlock"></div>
<ng-template #ifBlock>
  <h2>{{ title }}</h2>
</ng-template>
<ng-template #elseBlock>
  <h2>no existe item</h2>
</ng-template>

<hr>
<div [ngSwitch]="title">
  <h2 *ngSwitchCase="'isc'"> Instituto de sistemas</h2>
  <h2 *ngSwitchCase="'unsaac'"> universidad san antonio abad del cusco</h2>
  <h2 *ngSwitchDefault> no existe institucion</h2>
</div>

<ul>
  <li *ngIf="list.length == 0">No existen elementos</li>
  <li *ngFor="let item of list; index as i">
    {{ i }} - {{ item }}
    <input type="button" value="X" (click)="eliminarElemento(i)">
  </li>
</ul>

<ul>
  <li *ngIf="personas.length == 0">No existen personas</li>
  <li *ngFor="let persona of personas; index as i">
    {{ persona.dni }} - {{ persona.nombres }} {{ persona.apellidos }}
    <input type="button" value="X" (click)="eliminarPersona(persona.id,i)">
  </li>
</ul>


<!-- 2021Unsaac * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
